
body{
    background: url('../assets/memory/background_memory.png');
    background-repeat: no-repeat;
    object-fit: fill;
    width: 100%;
   overflow: hidden;
 
 }
.memory__rectangle {
    background: url("../assets/memory/Memory.png");
    background-repeat: no-repeat;
    width: 20%;
    height: 100%;
  
   
  }
  .memory__pieces1 {
    background: url("../assets/memory/memoria_alocada_2x.png");
    background-repeat: no-repeat;
    width: 20%;
    height: 100%;
  
   
  }

  
  .memory__pieces2 {
    background: url("../assets/memory/memoria_alocada_2x.png");
    background-repeat: no-repeat;
    width: 20%;
    height: 100%;
  
   
  }
  .memory__pieces3{
    background: url("../assets/memory/memoria_alocada.png");
    background-repeat: no-repeat;
    width: 20%;
    height: 100%;
  }
  
  .box__process{
    background: url("../assets/memory/memoria_alocada_2x.png");
    background-repeat: no-repeat;
    width: 20%;
    height: 100%;
  }
  .box_memory {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 161px;
    height: 371px;
    z-index: 1;
  }
  .box_process1 {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 132px;
    height: 215px;
    z-index: 1;
  }
  .pieces_memory1{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 130px;
    height: 84px;
    z-index: 1;
  }
  .pieces_memory2{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 130px;
    height: 84px;
    z-index: 1;
  }
  .pieces_memory3{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 130px;
    height: 84px;
    z-index: 1;
  }
  #box-memory {
    transform: translate(150%, -35%);
  }
  #box-memory2 {
    transform: translate(-250%, -28%);
  }
  #memory-piece1{
    transform: translate(208%, -152%);
  }
  #memory-piece2{
    transform: translate(208%, 10%);
  }
  #memory-piece3{
    transform: translate(208%, 238%);
  }
  
  #memoryRectangle2{
    transform: translate(100%, -28%);
  }
  