@font-face {
	font-family: 'Rudiment' !important;
	src: url('../assets/Rudiment.ttf');
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Rudiment' !important;
}

h1.title,
h2.title,
h3.title,
h4.title,
h5.title,
h6.title {
	font-family: 'Poppins' !important;
}
h1.title-big,
h2.title-big,
h3.title-big,
h4.title-big,
h5.title-big,
h6.title-big {
	font-family: 'Poppins' !important;
}

.well-anim {
	background: url('../assets/well_char_spritesheet.png');
	width: 350px;
	height: 750px;
	-webkit-transform: translate(0%, -60%);
	transform: translate(0%, -60%);
}

.text-box {
	-webkit-transform: translate(10%, -30%);
	transform: translate(10%, -30%);
	background-color: rgba(255, 255, 255, 0.9);
}

.back-btn {
	-webkit-transform: translate(-80%, 50%);
	transform: translate(-80%, 50%);
}

.continue-animation {
	-webkit-animation-name: shake-horizontal;
	animation-name: shake-horizontal;
	-webkit-animation-duration: 8s;
	animation-duration: 8s;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
}

.continue-animation:hover {
	color: #00b9d1;
	cursor: pointer;
}

body.loading {
	background-color: rgb(255, 255, 255);
	pointer-events: none;
	height: 100%;
}

@-webkit-keyframes shake-horizontal {
	0%,
	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
	10%,
	30%,
	50%,
	70% {
		-webkit-transform: translateX(-10px);
		transform: translateX(-10px);
	}
	20%,
	40%,
	60% {
		-webkit-transform: translateX(10px);
		transform: translateX(10px);
	}
	80% {
		-webkit-transform: translateX(8px);
		transform: translateX(8px);
	}
	90% {
		-webkit-transform: translateX(-8px);
		transform: translateX(-8px);
	}
}

@keyframes shake-horizontal {
	0%,
	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
	10%,
	30%,
	50%,
	70% {
		-webkit-transform: translateX(-10px);
		transform: translateX(-10px);
	}
	20%,
	40%,
	60% {
		-webkit-transform: translateX(10px);
		transform: translateX(10px);
	}
	80% {
		-webkit-transform: translateX(8px);
		transform: translateX(8px);
	}
	90% {
		-webkit-transform: translateX(-8px);
		transform: translateX(-8px);
	}
}

.text-bold {
	font-weight: 600;
}

.box {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 60px;
	height: 60px;
	z-index: 1;
}

.box__single {
	background: url('../assets/box1.png');
	background-repeat: no-repeat;
	width: 60px;
}

.box__half {
	background: url('../assets/aQuarterBox.png');
	background-repeat: no-repeat;
	width: 60px;
}

.box__double {
	background: url('../assets/box2.png');
	background-repeat: no-repeat;
	width: 120px;
}

.box__triple {
	background: url('../assets/box3.png');
	background-repeat: no-repeat;
	width: 180px;
}

#box {
	-webkit-transform: translate(-350%, -50%);
	transform: translate(-350%, -50%);
}

#box2 {
	-webkit-transform: translate(-100%, -50%);
	transform: translate(-100%, -50%);
}

#box3 {
	-webkit-transform: translate(50%, -50%);
	transform: translate(50%, -50%);
}

#box4 {
	-webkit-transform: translate(70%, -50%);
	transform: translate(70%, -50%);
}

#halfBox {
	-webkit-transform: translate(500%, -50%);
	transform: translate(500%, -50%);
}
/*# sourceMappingURL=style.css.map */
